---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>Introduction</h2>
			<p>Grafstate is a website used for simulating computational structures, such as deterministic finite automata (DFAs), and is commonly used by students taking The Theory of Computation course at the University of Georgia. However, the website's interface poses a significant learning curve for new users, which can be a distraction from learning the course content.</p>
			<h2>Synopsis</h2>
			<p>The website's interface for Grafstate poses a significant learning curve for new users. The homepage contains uncommon icons that do not clearly indicate their intended actions, creating multiple anti-affordances for new users. The website's organization is also not consistent with commonly used computer science tools such as IDEs. The main issue for new users is attempting to simulate multiple computational structures, which requires navigation through a difficult interface. The documentation for the website provides lengthy descriptions of the tool's functionality, which can be difficult for users to remember. Additionally, there are no clear signifiers to indicate how to add a new terminal to the screen. These issues primarily affect students at the University of Georgia taking The Theory of Computation course, which requires a thorough understanding of the tool. Improving the user experience would allow students to learn the course content more efficiently and be better prepared for future courses.</p>
		</main>
		<Footer />
	</body>
</html>
