---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/milestones">Milestone Links</HeaderLink>
		<!-- <HeaderLink href="/milestone3">Milestone 3</HeaderLink> -->
		<!-- <HeaderLink href="/milestone4">Milestone 4</HeaderLink> -->
		<!-- <HeaderLink href="/milestone5">Milestone 5</HeaderLink> -->
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
